<div class="card mb-4 shadow-sm">
  <img  src="{{ product.pictureUrl }}" alt="{{ product.name }}" class="img-fluid bg-mid-gray"/>

  <div class="card-body d-flex flex-column">
    <a  routerLink="/shop/{{product.id}}">
      <h6>{{ product.name }}</h6>
    </a>
    <span class="mb-2">{{ product.price |  currency: "TRY":"₺":"" }}</span>

    <div class="btn-group mt-auto">
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary fa fa-eye mr-2"
        routerLink="/shop/{{product.id}}"
      ></button>
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary fa fa-shopping-cart"
      ></button>
    </div>
    <small class="text-muted">9 mins</small>
  </div>
</div>
