<div class="mt-4" [formGroup]="checkoutForm">
  <div class="row ml-5" formGroupName="deliveryForm">
    @for (item of deliveryMethods(); track item.id) {
      <div class="form-group col-6">
        <input
          type="radio"
          id="delivery-{{ item.id }}"
          value="{{ item.id }}"
          (change)="setShippingPrice(item)"
          formControlName="deliveryMethod"
          class="custom-control-class mr-3"
          />
          <label for="delivery-{{ item.id }}" class="custom-control-class">
            <strong>{{ item.shortName }} - {{ item.price | currency: "TRY":"₺":"" }}</strong>
          </label>
          <br />
          <span class="label-description">
            {{ item.description }}
          </span>
        </div>
      }
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-5">
    <button type="button" class="btn btn-back" cdkStepperPrevious>
      <i class="fa fa-angle-left mr-2" aria-hidden="true"></i>{{ 'CHECKOUT.BACK' | translate }}
    </button>
    <button type="button" [disabled]="checkoutForm.controls.deliveryForm.invalid" class="btn btn-cta" cdkStepperNext>
      {{ 'CHECKOUT.NEXT' | translate }}<i class="fa fa-angle-right ml-2" aria-hidden="true"></i>
    </button>
  </div>
