<carousel>
  <slide>
    <img src="assets/images/book0.jpg" alt="" />
  </slide>
  <slide>
    <img src="assets/images/book1.webp" alt="" />
  </slide>
  <slide>
    <img src="assets/images/book2.jpg" alt="" />
  </slide>
  <slide>
    <img src="assets/images/book3.jpg" alt="" />
  </slide>
  <slide>
    <img src="assets/images/book4.jpg" alt="" />
  </slide>
</carousel>
<div class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>{{ 'HOME.READY' | translate }}</h1>
  </div>
</div>
