.xng-breadcrumb-root {
  padding: 8px 16px;
  display: inline;
  border-radius: 0;
}

label.xng-breadcrumb-trail{
    margin-bottom: 0;
    color:rgb(3, 126, 126);
}
.xng-breadcrumb-separator{
    padding: 0 0;
}