@use 'styles/theme';
@use 'styles/dark-overrides';
@use 'styles/empty-state';

.xng-breadcrumb-root {
  padding: 8px 16px;
  display: inline;
  border-radius: 0;
}
.breadCrumbHeader{
  color: var(--primary);
}
label.xng-breadcrumb-trail {
  margin-bottom: 0;
  color: var(--primary);
}
.xng-breadcrumb-separator {
  padding: 0 0;
}
.StripeElement {
  height: 3.125em;
}
