<div class="container">
  <ul class="nav nav-pills nav-justified">
    @for (step of steps; track step; let i = $index) {
      <li class="nav-item">
        <button
          (click)="onClick(i)"
          [disabled]="true"
          [class.active]="selectedIndex === i"
          class="py-3 nav-link btn-block font-weight-bold"
          >
          {{ step.label }}
        </button>
      </li>
    }
  </ul>
  <div>
    <ng-container [ngTemplateOutlet]="selected.content"> </ng-container>
  </div>
</div>
