button.nav-link {
  background-color: var(--stepper-bg);
  border-radius: 0;
  border: none;
  &:focus {
    outline: none;
  }
  &.active-hover {
    color: var(--on-accent);
  }
  &.active {
    outline: none;
  }
  &.active:focus {
    outline: none;
  }
  &.disabled:not(.active) {
    color: var(--stepper-text);
  }
}
