.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  color: var(--on-badge);
  background-color: var(--badge-bg);
  top: -12px;
  right: 32px;
  text-align: center;
}
a, li {
  text-decoration: none;
  cursor: pointer;
}
.logo{
    cursor: pointer;
    &:focus{
        outline: none;
    }
}
