<div
  class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top"
>
  <img
    src="/assets/images/logo.png"
    style="max-height: 70px"
    alt="Logo"
    class="logo"
    routerLink="/"
  />
  <nav class="my-2 my-md-0 mr-md-3" style="font-size: larger">
    <a
      class="p-2"
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >ANA SAYFA</a
    >
    <a class="p-2" [routerLink]="['/shop']" routerLinkActive="active">VİTRİN</a>
    <a class="p-2" [routerLink]="['/contact']" routerLinkActive="active"
      >İLETİŞİM</a
    >
  </nav>
  <div class="d-flex align-items-center">
    <a routerLink="/basket" style="position: relative">
      <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
      <div *ngIf="(this.basket$ | async)" class="cart-no">
        {{ (this.basket$ | async).items.length }}
      </div>
    </a>
    <ng-container *ngIf="(this.currentUser$ | async)===null">
      <a [routerLink]="['/account/login']" class="btn btn-outline-secondary mr-2">Giriş</a>
      <a [routerLink]="['/account/register']" class="btn btn-outline-secondary mr-3">Kayıt</a>
    </ng-container>
    <ng-container *ngIf="(this.currentUser$ | async)">
      <div class="dropdown ml-3 mr-5" dropdown>
        <a class="dropdown-toggle" dropdownToggle >
          <strong>Hoşgeldiniz {{(currentUser$ | async).displayName}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
          <li [routerLink]="['/basket']" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-shopping-cart mr-3"><span class="ml-3">
              Sepete Git
            </span></i>
          </li>
          <li [routerLink]="['/order']" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-history mr-3">
              <span class="ml-3">Siparişleri Gör</span>
            </i>
          </li>
          <li class="dropdown-item d-flex align-items-center py-2" (click)="logOut()">
            <i class="fa fa-sign-out mr-3"><span class="ml-3">
              Çıkış Yap
            </span></i>
          </li>
        </ul>
      </div>
    </ng-container>
  </div>
</div>
