<div class="mt-4" [formGroup]="checkoutForm">
  <div class="row">
    <div class="form-group col-12" formGroupName="paymentForm">
      <app-text-input
        [label]="'CHECKOUT.NAME_ON_CARD' | translate"
        formControlName="nameOnCard"
      ></app-text-input>
    </div>
    <div class="form-group col-6">
      <div #cardNumber class="form-control py-3"></div>
      @if (cardErrors) {
        <span class="text-danger">{{ cardErrors }}</span>
      }
    </div>
    <div class="form-group col-3">
      <div #cardExpiry class="form-control py-3"></div>
      @if (cardErrors) {
        <span class="text-danger">{{ cardErrors }}</span>
      }
    </div>
    <div class="form-group col-3">
      <div #cardCvc class="form-control py-3"></div>
      @if (cardErrors) {
        <span class="text-danger">{{ cardErrors }}</span>
      }
    </div>
  </div>
</div>
<div
  class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5 mt-5"
  >
  <button class="btn-outline-success" cdkStepperPrevious>
    <i class="fa fa-angle-double-left"></i>
  </button>
  <button
    [disabled]="
      loading ||
      checkoutForm.get('paymentForm').invalid ||
      !cardExpiryValid ||
      !cardCvcValid ||
      !cardNumberValid
    "
    class="btn-outline-success"
    (click)="submitOrder()"
    >
    {{ 'CHECKOUT.COMPLETE_ORDER' | translate }}
    <i class="fa fa-angle-double-right"></i>
    @if (loading) {
      <i class="fa fa-spinner fa-spin"></i>
    }
  </button>
</div>
