li {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;
  &:focus {
    outline: none;
  }
  &:active {
    border-radius: 10px;
  }
  &:not(active):hover{
    color: var(--on-accent);
    background-color: var(--list-hover-bg);
    border-radius: 10px;
  }
}
h5 {
  color: var(--primary);
}
