<div class="container mt-4">
<cmk-basket-summary
[isBasket]="false"
[items]="basket()?.items ?? []"></cmk-basket-summary>
</div>
<div class="d-flex justify-content-between align-items-center mb-5">
  <button type="button" class="btn btn-back" cdkStepperPrevious>
    <i class="fa fa-angle-left mr-2" aria-hidden="true"></i>{{ 'CHECKOUT.BACK' | translate }}
  </button>
  <button type="button" class="btn btn-cta" (click)="createPaymentIntent()">
    {{ 'CHECKOUT.NEXT' | translate }}<i class="fa fa-angle-right ml-2" aria-hidden="true"></i>
  </button>
</div>
