<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Camekân</h1>
      </div>

      <div class="form-label-group">
        <input
          type="email"
          formControlName="email"
          id="inputEmail"
          class="form-control"
          placeholder="Email address"
        />
        <label for="inputPassword"></label>
      </div>

      <div class="form-label-group">
        <input type="password" formControlName="password" id="inputPassword" class="form-control"  placeholder="Parola"/>
        <label for="inputPassword"></label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Oturum Aç
      </button>
      <p class="mt-5 mb-3 text-muted text-center">© 2017-2020</p>
    </form>
  </div>
</div>
