<div class="d-flex justify-content-center mt-5">
  <div class="col-12 col-sm-8 col-md-6 col-lg-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Camekân</h1>
      </div>

      <cmk-text-input
        formControlName="email"
        [label]="'USER.EMAIL' | translate"
        [type]="'email'"
        autocomplete="username"
      ></cmk-text-input>

      <cmk-text-input
        formControlName="password"
        [label]="'USER.PASSWORD' | translate"
        [type]="'password'"
        autocomplete="current-password"
      ></cmk-text-input>

      <button [disabled]="loginForm.invalid" class="btn btn-lg btn-cta btn-block" type="submit">
        <i class="fa fa-sign-in mr-2" aria-hidden="true"></i>{{ 'ACCOUNT.LOGIN' | translate }}
      </button>
      <p class="mt-5 mb-3 text-muted text-center">© 2020-2026 <br/> ⭐ by Developerella 💃</p>
    </form>
  </div>
</div>
