<div class="bg-light px-4 py-3 font-weight-bold">{{ 'ORDER.SUMMARY' | translate }}</div>

<div class="p-4">
  <p class="font-italic">
    {{ 'ORDER.SHIPPING_NOTE' | translate }}
  </p>
  <ul class="list-unstyled mb-4">
    <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-muted">{{ 'ORDER.SUBTOTAL' | translate }}</strong>
        <strong>{{subTotal |  currency: "TRY":"₺":""}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-muted">{{ 'ORDER.SHIPPING' | translate }}</strong>
        <strong>{{shippingPrice |  currency: "TRY":"₺":""}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-muted">{{ 'ORDER.TOTAL' | translate }}</strong>
        <strong>{{total |  currency: "TRY":"₺":""}}</strong>
    </li>
  </ul>
</div>
