<div class="bg-light px-4 py-3 font-weight-bold">Sipariş Özeti</div>

<div class="p-4">
  <p class="font-italic">
    Ödeme sırasında yapılan seçimlere bağlı olarak taşıma ücreti
    eklenecektir
  </p>
  <ul class="list-unstyled mb-4">
    <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-muted">Ürün Fiyatı</strong>
        <strong>{{subTotal |  currency: "TRY":"₺":""}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-muted">Taşıma Fiyatı</strong>
        <strong>{{shippingPrice |  currency: "TRY":"₺":""}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-muted">Toplam Fiyat</strong>
        <strong>{{total |  currency: "TRY":"₺":""}}</strong>
    </li>
  </ul>
</div>
