@if (breadcrumb$ | async; as breadcrumb) {
 @if (getLastBreadcrumbLabel(breadcrumb) !== 'Camekân') {
    <section
      class="py-5"
      >
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-9">
            <h1 class="breadCrumbHeader">
              {{ getLastBreadcrumbLabel(breadcrumb) | translate | titlecase }}
            </h1>
          </div>
          <div class="col-3">
            <nav aria-label="breadcrumb">
              <xng-breadcrumb>
                <ng-container *xngBreadcrumbItem="let label">{{ label | translate }}</ng-container>
              </xng-breadcrumb>
            </nav>
          </div>
        </div>
      </div>
    </section>
  }
}