<div class="container mt-5">
  <div class="row">
      <div class="col-8">
          <app-stepper [linearModelSelected]="false" #appStepper>
              <cdk-step [label]="'Adres'">
                  <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
              </cdk-step>
              <cdk-step [label]="'Teslimat'">
                <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
            </cdk-step>
            <cdk-step [label]="'Kontrol'">
              <app-checkout-review></app-checkout-review>
            </cdk-step>
            <cdk-step [label]="'Ödeme'">
                <app-checkout-payment></app-checkout-payment>
            </cdk-step>
          </app-stepper>
      </div>
      <div class="col-4">
          <app-order-total></app-order-total>
      </div>
  </div>
</div>