<div class="container mt-5">
  <div class="row">
      <div class="col-8">
          <app-stepper [linearModelSelected]="true" #appStepper>
              <cdk-step [label]="'Adres'" [completed]="(checkoutForm.get('addressForm'))">
                  <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
              </cdk-step>
              <cdk-step [label]="'Teslimat'" [completed]="(checkoutForm.get('deliveryForm')).valid">
                <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
            </cdk-step>
            <cdk-step [label]="'Sipariş'">
              <app-checkout-review [appStepper]="appStepper"></app-checkout-review>
            </cdk-step>
            <cdk-step [label]="'Ödeme'" [completed]="(checkoutForm.get('paymentForm')).valid">
                <app-checkout-payment
                [checkoutForm]="checkoutForm"></app-checkout-payment>
            </cdk-step>
          </app-stepper>
      </div>
      <div class="col-4">
        <app-order-total
        *ngIf="(basketTotal$ | async)"
        [shippingPrice]="(basketTotal$ | async).shipping"
        [subTotal]="(basketTotal$ | async).subTotal"
        [total]="(basketTotal$ | async).total"></app-order-total>
      </div>
  </div>
</div>