<div class="mt-4" [formGroup]="checkoutForm">
  <div class="d-flex justify-content-between align-content-center">
    <h4>{{ 'CHECKOUT.DELIVERY_ADDRESS' | translate }}</h4>
    <button (click)="saveUserAddress()"
    [disabled]="!checkoutForm.get('addressForm').valid || !checkoutForm.get('addressForm').dirty"
    class="btn btn-outline-success mb-3">{{ 'COMMON.SAVE' | translate }}</button>
  </div>
  <div class="row" formGroupName="addressForm">
      <div class="form-group col-6">
    <cmk-text-input [label]="'ADDRESS.FIRST_NAME' | translate" formControlName="firstName"></cmk-text-input>
  </div>
  <div class="form-group col-6">
    <cmk-text-input [label]="'ADDRESS.LAST_NAME' | translate" formControlName="lastName"></cmk-text-input>
  </div>
  <div class="form-group col-6">
    <cmk-text-input [label]="'ADDRESS.CITY' | translate" formControlName="city"></cmk-text-input>
  </div>
  <div class="form-group col-6">
    <cmk-text-input [label]="'ADDRESS.STATE' | translate" formControlName="state"></cmk-text-input>
  </div>
  <div class="form-group col-6">
    <cmk-text-input [label]="'ADDRESS.STREET' | translate" formControlName="street"></cmk-text-input>
  </div>
  <div class="form-group col-6">
    <cmk-text-input [label]="'ADDRESS.ZIP_CODE' | translate" formControlName="zipCode"></cmk-text-input>
  </div>
  </div>
</div>
<div class="d-flex justify-content-between align-items-center mb-5">
  <a routerLink="/basket" class="btn btn-back">
    <i class="fa fa-angle-left mr-2" aria-hidden="true"></i>{{ 'CHECKOUT.BACK_TO_BASKET' | translate }}
  </a>
  <button type="button" [disabled]="checkoutForm.get('addressForm').invalid" class="btn btn-cta" cdkStepperNext>
    {{ 'CHECKOUT.NEXT' | translate }}<i class="fa fa-angle-right ml-2" aria-hidden="true"></i>
  </button>
</div>