<div class="mt-4" [formGroup]="checkoutForm">
  <div class="d-flex justify-content-between align-content-center">
    <h4>{{ 'CHECKOUT.DELIVERY_ADDRESS' | translate }}</h4>
    <button (click)="saveUserAddress()"
    [disabled]="!checkoutForm.get('addressForm').valid || !checkoutForm.get('addressForm').dirty"
    class="btn btn-outline-success mb-3">{{ 'COMMON.SAVE' | translate }}</button>
  </div>
  <div class="row" formGroupName="addressForm">
      <div class="form-group col-6">
    <cmk-text-input [label]="'ADDRESS.FIRST_NAME' | translate" formControlName="firstName"></cmk-text-input>
  </div>
  <div class="form-group col-6">
    <cmk-text-input [label]="'ADDRESS.LAST_NAME' | translate" formControlName="lastName"></cmk-text-input>
  </div>
  <div class="form-group col-6">
    <cmk-text-input [label]="'ADDRESS.CITY' | translate" formControlName="city"></cmk-text-input>
  </div>
  <div class="form-group col-6">
    <cmk-text-input [label]="'ADDRESS.STATE' | translate" formControlName="state"></cmk-text-input>
  </div>
  <div class="form-group col-6">
    <cmk-text-input [label]="'ADDRESS.STREET' | translate" formControlName="street"></cmk-text-input>
  </div>
  <div class="form-group col-6">
    <cmk-text-input [label]="'ADDRESS.ZIP_CODE' | translate" formControlName="zipCode"></cmk-text-input>
  </div>
  </div>
</div>
<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
<button class="btn-outline-success" routerLink="/basket">
<i class="fa fa-shopping-cart"></i>
</button>
<button [disabled]="checkoutForm.get('addressForm').invalid" class="btn-primary" cdkStepperNext>
  <i class="fa fa-angle-double-right"></i>
  </button>
</div>