<div class="mt-4" [formGroup]="checkoutForm">
  <div class="d-flex justify-content-between align-content-center">
    <h4>Teslimat Adresi</h4>
    <button (click)="saveUserAddress()"
    [disabled]="!checkoutForm.get('addressForm').valid || !checkoutForm.get('addressForm').dirty"
    class="btn btn-outline-success mb-3">Kaydet</button>
  </div>
  <div class="row" formGroupName="addressForm">
      <div class="form-group col-6">
    <app-text-input [label]="'Ad'" formControlName="firstName"></app-text-input>
  </div>
  <div class="form-group col-6">
    <app-text-input [label]="'Soyad'" formControlName="lastName"></app-text-input>
  </div>
  <div class="form-group col-6">
    <app-text-input [label]="'Şehir'" formControlName="city"></app-text-input>
  </div>
  <div class="form-group col-6">
    <app-text-input [label]="'Mahalle'" formControlName="state"></app-text-input>
  </div>
  <div class="form-group col-6">
    <app-text-input [label]="'Cadde'" formControlName="street"></app-text-input>
  </div>
  <div class="form-group col-6">
    <app-text-input [label]="'Posta Kodu'" formControlName="zipCode"></app-text-input>
  </div>
  </div>
</div>
<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
<button class="btn-outline-success" routerLink="/basket">
<i class="fa fa-shopping-cart"></i>
</button>
<button [disabled]="checkoutForm.get('addressForm').invalid" class="btn-primary" cdkStepperNext>
  <i class="fa fa-angle-double-right"></i>
  </button>
</div>