<div class="form-label-group">
  <input
    [ngClass]="(controlDir && controlDir.control && controlDir.control.touched) ?
     !controlDir.control.valid ? 'is-invalid':'is-valid':null"
    [type]="type"
    [value]="value()"
    [attr.autocomplete]="autocomplete || null"
    (input)="onInput(input.value)"
    (blur)="onTouched()"
    #input
    id="{{label}}"
    class="form-control"
    placeholder="{{label}}"
    />
    @if (controlDir && controlDir.control && controlDir.control.status==='PENDING') {
      <div class="fa fa-spinner fa-spin loader">
      </div>
    }
    <label for="{{label}}"></label>
    @if ((controlDir && controlDir.control && !controlDir.control.valid && controlDir.control.touched)) {
      <div class="invalid-feedback"
        >
        @if (controlDir.control.errors?.required) {
          <span>{{ 'VALIDATION.REQUIRED' | translate: { field: label } }}</span>
        }
      </div>
    }
    @if ((controlDir && controlDir.control && !controlDir.control.valid && controlDir.control.dirty)) {
      <div class="invalid-feedback d-block"
>
        @if (controlDir.control.errors?.emailExists) {
          <span>{{ 'VALIDATION.EMAIL_EXISTS' | translate }}</span>
        }
      </div>
    }
  </div>
