<div class="container mt-">
  @if ((this.basket$ | async) === null) {
    <div>
      <p>{{ 'BASKET.EMPTY' | translate }}</p>
    </div>
  }

  @if (this.basket$ | async; as basket) {
    <div>
      <div class="pb-5">
        <div class="container">
          <div class="row">
            <div class="col-12 py-5 mb-1">
              <cmk-basket-summary
                [isBasket]="true"
                [isOrder]="false"
                (decrement)="decrementItemQuantity($event)"
                (increment)="incrementItemQuantity($event)"
                (remove)="removeBasketItem($event)"
                [items]="(basket$ | async).items">
              </cmk-basket-summary>
            </div>
          </div>
          <div class="row">
            <div class="col-6 offset-6">
              @if ((basketTotal$ | async)) {
                <cmk-order-total
                  [shippingPrice]="(basketTotal$ | async).shipping"
                  [subTotal]="(basketTotal$ | async).subTotal"
                [total]="(basketTotal$ | async).total"></cmk-order-total>
              }
              <a routerLink="/checkout" class="btn btn-block btn-outline-primary py-2">{{ 'CHECKOUT.COMPLETE_ORDER' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
